# For loop

### User-Defined

In [1]:
for x in range(11):
    print(x)

0
1
2
3
4
5
6
7
8
9
10

In [2]:
for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [3]:
for x in range(0,11,2):
    print(x)

0
2
4
6
8
10

### User-Input

In [4]:
n = int(input("Enter number :"))
for x in range(n):
    print(x)

Enter number :20
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [5]:
s = int(input("Start :"))
e = int(input("End :"))
for x in range(s,e):
    print(x)

Start :20
End :40
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39

In [6]:
s = int(input("Start :"))
e = int(input("End :"))
d = int(input("Difference :"))
for x in range(s,e,d):
    print(x)

Start :20
End :40
Difference :2
20
22
24
26
28
30
32
34
36
38

### Table

In [7]:
for x in range(2,2*10+1,2):
    print(x)

2
4
6
8
10
12
14
16
18
20

In [8]:
print("Enter number for table :")
n = int(input())

for x in range(n,n*10+1,n):
    print(x)

Enter number for table :
52
52
104
156
208
260
312
364
416
468
520